label[for="edit-carte-edinar-oui"] {
    background-image: url("../images/edinar.gif"), url("../images/universel.gif"), url("../images/edinarpost.gif");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position-x: 147px, 194px, 244px;
    display: inline-block;
    width: 300px;
    height: 32px;
}

label[for="edit-carte-edinar-non"] {
    background-image: url("../images/visa.gif"), url("../images/visa_electron.gif");
    background-repeat: no-repeat, no-repeat;
    background-position-x: 147px, 194px;
    display: inline-block;
    width: 300px;
    height: 32px;
}

.form-type-radio.form-item-carte-edinar {
    margin-bottom: 2em;
}

p.edinar_intro {
    background-image: url(../images/logo.gif);
    background-repeat: no-repeat;
    display: inline-block;
    height: 72px;
    padding-top: 3em;
    padding-left: 8em;
}